{% extends 'main/base.html' %}

{% block title %}
Perfil
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <table class="table">
            <h3>Vuelos pendientes</h3>
            <thead>
                <tr>
                    <th scope="col">Tiquete</th>
                    <th scope="col">Vuelo</th>
                    <th scope="col">Desde</th>
                    <th scope="col">Hasta</th>
                    <th scope="col">Conexiones</th>
                    <th scope="col">Pagar</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for ticket in pending_tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.flight.id }}</td>
                        <td>{{ ticket.flight.source }}</td>
                        <td>{{ ticket.flight.destination }}</td>
                        <td>{{ ticket.flight.number_of_connections }}</td>
                        <td>
                            <form action="{% url 'pay_ticket' ticket_id=ticket.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Pagar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <!-- Falta la configuración de los vuelos preferidos por usuario -->
        <div class="col-6">
            <h3>Configuración de vuelos preferidos</h3>
            <input class="" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Vuelos vigentes</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tiquete</th>
                            <th scope="col">Vuelo</th>
                            <th scope="col">Desde</th>
                            <th scope="col">Hasta</th>
                            <th scope="col">Conexiones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for ticket in paid_tickets %}
                            <tr>
                                <td>{{ ticket.id }}</td>
                                <td>{{ ticket.flight.id }}</td>
                                <td>{{ ticket.flight.source }}</td>
                                <td>{{ ticket.flight.destination }}</td>
                                <td>{{ ticket.flight.number_of_connections }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Vuelos pasados</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tiquete</th>
                            <th scope="col">Vuelo</th>
                            <th scope="col">Desde</th>
                            <th scope="col">Hasta</th>
                            <th scope="col">Conexiones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for ticket in old_tickets %}
                            <tr>
                                <td>{{ ticket.id }}</td>
                                <td>{{ ticket.flight.id }}</td>
                                <td>{{ ticket.flight.source }}</td>
                                <td>{{ ticket.flight.destination }}</td>
                                <td>{{ ticket.flight.number_of_connections }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>

{% endblock %}