{% extends 'main/base.html' %}

{% block title %}
Registro
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <center>
                    <h3>Registro</h3>
                </center>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><strong>Nombre de usuario</strong></label>
                    {{ form.username }}
                    <div id="emailHelp" class="form-text">Nunca compartiremos tu usuario con alguien más</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    {{ form.password1 }}
                    <div id="emailHelp" class="form-text">Debe ser de longitud mínima 8, incluir caracteres especiales y una mayúscula</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Confirma la contraseña</label>
                    {{ form.password2 }}
                    <div id="emailHelp" class="form-text">Escribe la misma contraseña</div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Acepto terminos y condiciones</label>
                </div>
                <button type="submit" class="btn btn-primary">Registrarme</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}