<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'index' %}">FlyApp</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-trigger="focus" data-bs-title="Dismissible popover">
                        Buscar
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Filtrar vuelos</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'index' %}" method="POST">
                                        {% csrf_token %}
                                        {{ form.as_div }}
                                        <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'index' %}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Limpiar filtros</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {% if not user.is_authenticated %}
                {% if not login %}
                    <a href="{% url 'login' %}"><button class="btn btn-success" type="button">Iniciar Sesion</button></a>
                    &nbsp;
                {% endif %}
                {% if not register %}
                    <a href="{% url 'register' %}"><button class="btn btn-danger" type="submit">Registrarse</button></a>
                {% endif %}
            {% else %}
                <a href="{% url 'profile' %}"><button class="btn btn-primary" type="submit">Perfil</button></a>
                &nbsp;
                <a href="{% url 'logout' %}"><button class="btn btn-danger" type="submit">Cerrar Sesión</button></a>
            {% endif %}  
        </div>
    </div>
</nav>
&nbsp;
&nbsp;