<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'index' %}">FlyApp</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a tabindex="0" class="nav-link active" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right? asdiasdasdiasdisada">
                        Buscar
                    </a>
                </li>
            </ul>
            {% if not user.is_authenticated %}
                {% if not login %}
                    <a href="{% url 'login' %}"><button class="btn btn-success" type="button">Iniciar Sesion</button></a>
                    &nbsp;
                {% endif %}
                {% if not register %}
                    <a href="{% url 'register' %}"><button class="btn btn-danger" type="submit">Registrarse</button></a>
                {% endif %}
            {% else %}
                <a href="{% url 'profile' %}"><button class="btn btn-primary" type="submit">Perfil</button></a>
                &nbsp;
                <a href="{% url 'logout' %}"><button class="btn btn-danger" type="submit">Cerrar Sesión</button></a>
            {% endif %}  
        </div>
    </div>
</nav>
&nbsp;
&nbsp;